{% extends 'base.html.twig' %}

{% block title %}Edit Haie{% endblock %}

{% block content %}
    <h1>Edit Haie</h1>

    {{ include('haie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('haie_index') }}">back to list</a>

    {{ include('haie/_delete_form.html.twig') }}
{% endblock %}
